# Prerequisites
*.d

# Other Visual Studio Extensions
*.tlog
*.exe
*.obj
*.pdb
*.vcxproj
*.log
*.ilk
*.sln
*.filters
*.user
*.db
*.opendb
*.ipch
*.suo
*.sqlite
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
